.container
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  padding: 15px 0px

  
  .link

    &:hover
      img
        fill: #FF643B
        stroke: #FF643B
        color: #FF643B

      svg
        fill: #FF643B
        stroke: #FF643B

  .active
    svg
      fill: #FF643B
      stroke: #FF643B
